.modal {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__box {
  position: relative;
  width: min(500px, calc(100% - 32px));
  border-radius: 20px;
  padding: 24px;
  background-color: #ffffff;
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.20);
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.modal__title {
  margin: 0;
  margin-bottom: 40px;
}

.modal__input {
  width: 100%;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #333;
  outline: none;
  padding: 5px 0;
}

.modal__input:focus {
  border-bottom-color: #ff2600;
}

.modal__text {
  margin: 0;
  margin-bottom: 30px;
}

.modal__actions {
  display: flex;
  align-items: center;
  gap: 10px;
}
