@font-face {
  font-family: 'Oxanium';
  src: url('./fonts/Oxanium-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Oxanium';
  src: url('./fonts/Oxanium-Medium.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Oxanium';
  src: url('./fonts/Oxanium-Bold.woff2') format('woff2');
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

.btn-reset {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn {
  border: 1px solid #ff2600;
  border-radius: 20px;
  padding: 10px 20px;
}

body {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: 'Oxanium', sans-serif;
  background-color: #f8f8f8;
}

ul {
  list-style-type: none;
  padding: 0;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.todo {
  width: 700px;
  border-radius: 20px;
  padding: 100px;
  background-color: #ffffff;
}